//Colors 
// $color-primary:#225478;
// $color-primary-light:#2d70a0;
// $color-primary-dark:#173850;


$color-primary:#2998ff;
$color-primary-light:#2998ff;
$color-primary-dark:#007ff5;


$color-orange-light:#ffb900;
$color-orange-dark:#ff7300;

$color-blue-light:#2998ff;
$color-blue-dark:#5643fa;

$color-green-light:#7ed56f;
$color-green-dark:#28b485;

$color-yellow-light:#f4d03f;
$color-yellow-dark:#f1c40f;


$color-red-light:#d3483a;
$color-red-dark:#c0392b;




$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;


//Font
$default-font-size:1.7rem;


//Grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:8rem;
$gutter-horizontal:6rem;